---
export interface Props {
  image: string;
  alt: string;
  name: string;
  affiliation: string;
}
const { image, alt, name, affiliation } = Astro.props;
---
<div class="organizer-card">
  <div class="organizer-card__img-wrap">
    <img src={image} alt={alt} class="organizer-card__img" />
  </div>
  <p class="organizer-card__name">{name}</p>
  <p class="organizer-card__affil">{affiliation}</p>
</div>